@page
@inject Spark.Engine.SparkSettings SparkSettings

<div class="container pt-5">
    <h1>Initialize database</h1>
    <ul>
        <li>Fhir Endpoint: @SparkSettings.Endpoint</li>
        <li>FhirRelease: @SparkSettings.FhirRelease </li>
        <li>Permissive parsing: @SparkSettings.ParserSettings</li>
        <li>Spark version: @SparkSettings.Version</li>
    </ul>
    <div>
    
        <input type="button" class="btn btn-danger" id="clearButton" value="Clear database" />
        <input type="button" class="btn btn-warning" id="initButton" value="Load examples" />

        <div class="overflow-auto mt-5 h-50 border border-info" style="height: 50vh!important;">
            <ul id="messagesList"></ul>
        </div>
        
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/admin_maintenance.js"></script>